# Auto detect text files and perform LF normalization
* text=auto
*.html linguist-detectable=false
wwwroot/*.js linguist-detectable=false
wwwroot/*.css linguist-detectable=false
*.cs linguist-language=C#
*.razor linguist-language=C#
